body {
    background-color: #666;
    height: 100vh;
    font-family: 'Sonsie One', cursive;
    color: white;
    margin-top: 50px;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

main {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

img {
    height: auto;
    width: 100%;
    grid-row: span 1;
    grid-column: span 1;
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {

    header {
        text-align: left;
        margin-left: 100px;
    }

    main {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (min-width: 1000px) {

    main {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(5,1fr);
    }
}